*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(blue,lightblue);
    height: 100vh;
   
}
h1{
    text-align: center;
}
#container{
box-shadow: 0 0 2px 4px white;  

}